header { grid-area: header; }
nav { grid-area: nav; }
aside { grid-area: aside; }
section { grid-area: section; }
article { grid-area: article; }
footer { grid-area: footer; }

body {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'nav nav nav nav nav nav'
    'aside aside aside aside aside aside'
    'aside aside aside aside aside aside'
    'footer footer footer footer footer footer';
  grid-gap: 5px;
  padding: 0px;
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  color: #7c5922;
  justify-content: center;
  background-color:black;
}

aside, section, footer, article, nav, aside {
    text-align: center;
    padding: 0px 0;
    justify-content: center;
    background-color: black;
    width: 100%;
  }

header, nav {
    padding: 0px 0;
    width: 100%;
}

a {
  text-decoration: none;
}

footer {
  width: 1600px;
  background-image: url(kuvia/red.jpg);
  background-repeat: no-repeat;
  background-position-y: -125px;
}

header{
  background-image: url(kuvia/encee.png);
  height: 600px;
}

.kuva {
  justify-content: left;
  align-self: left;
  float: left;
  margin: 15px;
  padding: 15px; 
  width: 100%;
}

  li {
    list-style-type: none;
    justify-content: center;
    display: flex;
    display: inline-block;
  }

  a { color: #7c5922; }
  .instagram-media{margin:0 auto!important;}

.navbutton {
    padding: 12px;
    border-width: 2px;
    border-style: hidden;
    border-radius: 0px;
    text-decoration: none;
}

h3{
  text-shadow:1px 1px 1px #fff;
}

H2{
  font-size: 20px;
  color: black;
}


/* Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color:  rgba(0, 0, 0, 0.7);
  font-size: 20px;
  color: #7c5922;
  padding-left: 20px;
  padding-right: 20px;
}